 body{
      /* This is the background color, change it if u want to*/
      background-color:#0687dd ;
      font-family: Poppins;

    }
.btn {
    width: 150px;
    height: 150px;
    border-radius: 12px; /* Ensure it overrides other styles */
    gap: 150px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease, opacity 0.3s ease; /* Smooth hover */
    font-size: 15px;
    display: inline-block; /* Ensures buttons don't stretch */
    border: 8px solid transparent; /* Initial border */
}

.btn:hover {
    transform: translateY(-3px) scale(0.9); /* Shift and scale */
    box-shadow: none; /* No shadow on hover */
    border-radius: 12px; /* Change border radius */
    opacity: 0.65; /* Change opacity */
    border: 8px solid white; /* Active border on hover */
}



#searchBar{
  text-align:center;
  background-color: #b20a0a;
border: 1px solid  #b20a0a;  
  color: white;
  border-radius: 12px;
  left:43%;
  padding: 15px 25px;
  border-style: solid;
  border-width: 2px;
  border-color:#b20a0a;
    position: fixed; 
  top: 10px;       
  left: 50%;
  transform: translateX(-50%); 
  z-index: 1000; 
  opacity: 1;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);


}
#searchBar::placeholder {
  color: white; 
  font-family: Poppins;
  font-size: 15px;
  

}
#imageContainer {
  margin-top: 70px; 
}
    .gtext{
          text-align:center;
          font-family: Poppins;
background:none;  
border-radius: 20px;           
          color:#ffffff;
                  
     }
      img {
    border-radius: 50px;
    width: 28px;
    padding: 10px 20px;
    transition: transform 0.3s ease-in-out;
    border-radius: 20px;

  }

  img:hover {
    border-radius: 50px;
    transform: translateY(-3px);
    box-shadow: none;
    border: 3px solid white; 
    border-radius: 25px;
  }
  a{
     outline:none;
  }
  a:focus{
     outline:none;
  }
     .title{
      /* This is the CSS for the title on top of the website */
          background-color: #b20a0a;
      color: white;
      padding: 5px 15px;
      font-size: 2rem;
      font-weight: bold;
      border-radius: 12px;
      margin-bottom: 50px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
      top:-10px;
      position: fixed;
      left:2.5%;
        }
        .btn-text{
          position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
        }
 